.body {
    background-image: url("https://miro.medium.com/v2/resize:fit:3840/1*ibYKQtnJcLT6XBgYKQH5gQ.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    /* Set the height of the body to be the viewport height */
}
.text-title{
    font-size: 40px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color: rgb(236, 234, 234);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.text-subtitle{
    font-size: 20px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.titile{
    font-size: 20px;
    margin-top: 2%;
    justify-content: center;
    color: rgb(122, 122, 122);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.resultfinale{
    font-size: 20px;
    margin: 5%;
    justify-content: center;
    color:#1b5e79;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.result{
    font-size: 20px;
    margin-top: 2%;
    justify-content: center;
    color: rgb(122, 122, 122);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.cards{
    display: flex;
    justify-content: center;
    white-space: 10px;
    cursor: pointer;
    
}
.cards:hover{
    translate: 0px 1px 0px 1px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-img-custom{
    height: 250px;
}
.card-custom:hover{
    translate: 0px -5px 2px;
   transition: 0.7s;
}
.but
{
color: white;
margin-left: 40%;
}
.but {
    hyphens: none;
    box-sizing: border-box;

    max-width: 120%;
    vertical-align: baseline;
    border: 0;
    font: 700 18px/normal Montserrat, sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    transition: all .3s;
    padding: 14px 24px;
    background: 0 0;
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.3;
    font-size: 14px;
    cursor: pointer;
    color: #2282ff;
    background-color: transparent;
    border-color: #2282ff;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
  
  .but:hover {
    background-color: #16bdff;
    border-color: #16bdff;
    color: #ffffff;
  }
  