mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  mat-label {
    transform: translateY(-60%); /* Ajustez la valeur selon vos besoins */
    font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
  }
  
  input:focus + mat-label, textarea:focus + mat-label {
    transform: translateY(-60%);
    font-size: 14px;
  }
  .example-card {
    max-width: 500px;
   margin: 0 auto;
    
  }

  
  .example-form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .example-half-width {
    width: 48%; /* Ajustez la largeur selon vos besoins */
  }
  
  .example-full-width {
    width: 100%;
  }
  .custom-button {
    border-radius: 12px; /* Ajustez le rayon selon vos besoins */
    background-color: #1565C0; /* Bleu foncé, ajustez selon vos préférences */
    color: white; /* Couleur du texte sur le bouton */
    font-size: 16px; /* Ajustez la taille de la police selon vos besoins */
    padding: 12px 24px; /* Ajustez le rembourrage selon vos besoins */
    margin-left:40% ;
  }
  
  

  