


<mat-card class="example-card">
    <mat-card-content>
        <h1>Recherche d'employés</h1>
    <p>Utilisez le formulaire ci-dessous pour spécifier les critères de recherche d'employés.</p>

      <form [formGroup]="candidatureForm" (ngSubmit)="submitForm()">
  
        <div class="example-form-row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder=" " formControlName="titre" required>
            <mat-label>Titre</mat-label>
          </mat-form-field>
        </div>
  
        <div class="example-form-row">
          <mat-form-field class="example-half-width">
            <input matInput placeholder=" " formControlName="lieu" required>
            <mat-label>Lieu</mat-label>
          </mat-form-field>
  
          <mat-form-field class="example-half-width">
            <input matInput placeholder=" " formControlName="temp" required>
            <mat-label>Temp</mat-label>
          </mat-form-field>
        </div>
  
        <div class="example-form-row">
          <mat-form-field class="example-half-width">
            <input matInput type="number" placeholder=" " formControlName="posteOuvert" required>
            <mat-label>Poste ouvert</mat-label>
          </mat-form-field>
  
          <mat-form-field class="example-half-width">
            <input matInput placeholder=" " formControlName="contrat" required>
            <mat-label>Contrat</mat-label>
          </mat-form-field>
        </div>
  
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder=" " formControlName="descriptionPoste" required></textarea>
          <mat-label>Description de poste</mat-label>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder=" " formControlName="qualification" required></textarea>
          <mat-label>Qualification (Profile recherché)</mat-label>
        </mat-form-field>

        <div class="example-form-row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder=" " formControlName="image" required>
            <mat-label>image url</mat-label>
          </mat-form-field>
        </div>
  
        <button mat-raised-button class="custom-button" type="submit">Ajouter</button>
    </form>
    </mat-card-content>
  </mat-card>
  